{% extends 'base.html' %}

{% block title %}Home - My Django App{% endblock %}

{% block content %}
    <div class="text-center">
        <h1>Welcome to Roamio</h1>
    </div>
    
    <h2>All Destinations</h2>
    <ul class="list-group">
        {% for destination in destination_list %}
            <li class="list-group-item">
                <strong>{{ destination.name }}</strong><br>
                Location: {{ destination.location }}<br>
                Description: {{ destination.description }}<br>
                {% if destination.image %}
                    <img src="{{ destination.image.url }}" alt="{{ destination.name }}" class="img-fluid" style="max-width: 300px;">
                {% endif %}
            </li>
        {% empty %}
            <p>No destinations available.</p>
        {% endfor %}
    </ul>
{% endblock %}
