{% extends 'base.html' %}

{% block title %}Roamio{% endblock %}

{% block content %}
    <div class="welcome-section text-center">
        <h1 class="welcome-title">Welcome to Roamio</h1>
    </div>
    <script>
        let destination = '{{destination_list|escapejs}}'
        console.log(destination)
    </script>
    <h2 class="home-heading">The home of Destinations</h2>
    <ul class="list-group">
        {% for destination in destination_list %}
        <li class="list-group-item">
            <a href='destination-details/{{destination.id}}' class="destination-link">
                <div class="destination-item">
                    <strong class="destination-name">{{ destination.name }}</strong><br>
                    Location: {{ destination.location }}<br>
                    Description: {{ destination.description }}<br>
                    {% if destination.featured_image %}
                        {% if "placeholder" in destination.featured_image %}
                            <img src="/static/images/pexels-asadphoto-1450353.jpg" alt="placeholder image" class="img-fluid placeholder-image">
                        {% else %}
                            <img src="https://res.cloudinary.com/{{cloud_name}}/{{ destination.featured_image}}" alt="{{ destination.name }}" class="img-fluid destination-image">
                        {% endif %}
                    {% endif %}
                </div>
            </a>
        </li>
        {% empty %}
            <p class="no-destinations">No destinations available.</p>
        {% endfor %}
    </ul>
{% endblock %}
