.navbar {
  color: #277bd4; /* Blue color */
}
.navbar-nav .nav-link.active {
  color: #ffd700;
  font-weight:  bold;
}
.container {
  margin-top: 20px;
}
.text-center h1 {
  color: #6a5acd; 
}
/* Ensure the body and html take up the full height of the viewport */
html, body {
  height: 100%;
  margin: 0;
}
/* Flexbox to push the footer to the bottom */
body {
  display: flex;
  flex-direction: column;
}
/* Make sure the content area grows to fill available space */
.container {
  flex: 1;
}
/* Footer styling */
footer {
  background-color: #343a40; /* Dark background for footer */
  color: #f8f9fa; /* Light text color */
}